@page "/placementTest/{studentId}"
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@layout MainLayout

@if (student.CurrentQuestion <= questions.Count)
{
	{
		questionId = questions.IndexOf(questions[student.CurrentQuestion - 1]);
	};
	<span class="title">Placement Test</span>
	answerDto.QuestionId = questions[questionId].Id;
	<Timer @ref="timer" Duration="student.Timer" OnUpdate="OnTimerUpdate" StartTimer="true"></Timer>
	<div class="paper m-xxl-4">
		<EditForm Model="@answerDto" OnValidSubmit="@submit">

			<p class="fs-4">@(questionId + 1) . @questions[questionId].QuestionText</p>
			@if(!string.IsNullOrEmpty(questions[questionId].Image))
			{
				<img class="w-50 h-50" src="@(navigationManager.BaseUri + questions[questionId].Image)"/>	
			}
			<div class="d-flex justify-content-evenly">
				<InputRadioGroup @bind-Value="answerDto.AnswerId">
					@foreach (var answer in questions[questionId].Answers)
					{
						@if (!String.IsNullOrEmpty(answer.AnswerText))
						{
							<InputRadio class="btn-check" id="@answer.Id" Value="answer.Id"></InputRadio>
							<label class="btn btn-outline-primary" for="@answer.Id">@answer.AnswerText</label>
						}
					}
				</InputRadioGroup>
			</div>
			@{
				if (answerDto.AnswerId != 0) isDisabled = false;
				else isDisabled = true;
			}
			<input class="btn btn-primary d-block mx-auto my-4 w-50" disabled="@isDisabled" type="submit" value="Next" />
			<input class="btn btn-danger d-block mx-auto my-4 w-15" @onclick="@skip" value="Skip" />
		</EditForm>
	</div>
}
else
{
	navigationManager.NavigateTo($"/placementTest/writing/{studentId}", true);
}

@code {
	public int questionId;
	[Parameter]
	public string? studentId { get; set; }
	private Timer timer;
	private Student student { get; set; }
	protected bool isDisabled = true;
	private Question[]? grammerQuestions { get; set; }
	List<Question> questions { get; set; }
	private StudentAnswerDto? answerDto { get; set; } = new StudentAnswerDto();
	private bool play;

	protected override async Task OnInitializedAsync()
	{
		play = false;
		answerDto.StudentId = Int16.Parse(studentId);
		student = await Http.GetFromJsonAsync<Student>($"/api/Student/{studentId}");
		var url = $"/api/Question/getByQuestionSection?questionSection={(int)QuestionSection.Placement_Test}&studentAge={student.Age}";
		questions = await Http.GetFromJsonAsync<List<Question>>(url);
	}
	private async void OnTimerUpdate(TimeSpan time)
	{
		if (time == TimeSpan.Zero)
		{
			navigationManager.NavigateTo($"/placementTest/writing/{studentId}", true);
		}
		else
		{
			await Http.PutAsJsonAsync<TimerDto>($"/api/student/updateTimer", new TimerDto{ StudentId = Int16.Parse(studentId), Timer = time});
		}
	}
	private async Task submit()
	{
		var result = await Http.PutAsJsonAsync<StudentAnswerDto>($"/api/student/submitAnswer", answerDto);
		student.CurrentQuestion = await result.Content.ReadFromJsonAsync<int>();
		await Task.Delay(100);
		answerDto.AnswerId = 0;
	}
	private void check()
	{
		isDisabled = false;
	}
	private async Task skip()
	{
		await Http.PutAsJsonAsync<StudentAnswerDto>($"/api/student/skip", answerDto);
		student.CurrentQuestion++;
		answerDto.AnswerId = 0;
	}
	private async Task PlayAudio()
	{
		play = true;
	}
}
